---
layout: full-width
title: Isabelle Giddy
order: 1
# Note that this index page uses a full-width layout!
---

<h1 class="content-listing-header sans" style="text-align: center;">Isabelle S. Giddy</h1>
<h4 class="content-listing-header sans" style="text-align: center;">ocean turbulence, observational oceanography, earth system science</h4>

<!-- Full-width image -->
<div style="margin: 1rem 0;">
  <img src="{{ '/assets/img/research-banner.png' | relative_url }}" alt="Research banner" style="width: 100%; height: auto; display: block;">
</div>

<ul class="content-listing">
  {% for post in site.posts %}
    {% if post.categories contains "research" %}
      <li class="listing">
        <hr class="slender">
        <a href="{{ post.url | relative_url }}">
          <h3 class="contrast">{{ post.title }}</h3>
        </a>
        <br>
        <span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span><br/>
        <div>{{post.excerpt | strip_html | truncatewords: 20 }}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>


